body {
    background-color: #0A1D29;
}
header {
    height: 5vh;
}
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height: 13vh;
}
.sub-hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    min-height: 95vh;
}
.profile-pic{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 15%;
    height: 23%;
}
.profile-pic h2 {
    font-size: 30px;
}
.profile-pic img:nth-child(1) {
    margin-bottom: 10% ;
}
.mini-gallery {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    grid-template-rows: 1fr 1fr;
    margin-top: 8%;
}
.mini-gallery img {
    padding: 10px;
}
.mini-gallery img:nth-child(1){
    grid-column: 2/3;

}
.mini-gallery img:nth-child(4){
    grid-column: 3/4;
}
.mini-gallery img:nth-child(3){
    grid-column: 2/3;
}
.bio {
    font-family: 'Cinzel', cursive;
    width: 70%;
    margin-top: 10%;
    
}
@media only screen and (min-width: 650px) {
    .banner h1 {
        font-size: 50px;
    }
    .banner h3 {
        font-size: 25px;
    }
    .wrapper {
        min-height: 81vh;
        display: flex;
        justify-content: center;
    }
    .sub-hero {
        width: 85%;
        min-height: 65vh;
        margin: auto;
        justify-content: center;
    }
    .profile-pic {
        flex-direction: column-reverse;
        margin-top: 56px;
        margin-right: 10px;

    }
    .profile-pic img{
        height: 19vh;
        margin-bottom: 0px;
        padding-top: 20px;
    }
    .profile-pic h2 {
        font-size: 30px;
    }
    .pictures {
        display: flex ;
        align-items: center;
        justify-content: space-between;
    }
}
@media only screen and (min-width: 900px) {
    .banner {
        margin: 50px 0px;
    }

  
}
